* {
  box-sizing: border-box;
}

#enclosure {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 360px;
  padding-top: 50px;
  z-index: -1;
}
#mainScreen {
  width: 100%;
  height: 85vh;
  border: solid 1px black;
  background-color: #ddd;
  max-width: 60vh;
}
#front, #rear {
  height: 50%;
  width: 100%;
  border-bottom: solid 1px black;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#front {
  background-color: #eee;
}

#rear {
  display: none;
  background: #333;
  color: #fff;
  font-family: Georgia;
}

#rearCardText {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:clip;

}

#topBar {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: #3F51B5;  
  display: flex;  
}
.paper-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#appTitle {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  flex: 1;
  font-size: 1.3em;
  margin: 0 40px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 400;
  line-height: 55px;  
}
.topButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#check {
  background-color: #888;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 56px 6px 0px 0px;
  opacity: 0.4;
  border-radius: 6px;
  cursor: pointer;
}

#popup {
  position: absolute;
  z-index: 1;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;  
  margin-left: -90px;
  bottom: 50%;
  left: 50%;
  opacity: 0;
}


.hiddenElement {
  display: none;
}

@media only screen and (max-width: 360px) {
  #enclosure {
    width: 95%;
  }
}
